[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "ext/xxHash"]
	path = ext/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "ext/toml11"]
	path = ext/toml11
	url = https://github.com/ToruNiina/toml11
