[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "ext/xxHash"]
	path = ext/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "ext/toml11"]
	path = ext/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ext/D3D12MemoryAllocator"]
	path = ext/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "ext/DirectX-Headers"]
	path = ext/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "ext/portable-file-dialogs"]
	path = ext/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm
[submodule "ext/Vulkan-Tools"]
	path = ext/Vulkan-Tools
	url = https://github.com/KhronosGroup/Vulkan-Tools.git
[submodule "ext/VulkanMemoryAllocator"]
	path = ext/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ext/shaderc"]
	path = ext/shaderc
	url = https://github.com/Flone-dnb/shaderc.git
[submodule "ext/SPIRV-Reflect"]
	path = ext/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "ext/Remotery"]
	path = ext/Remotery
	url = https://github.com/Celtoys/Remotery.git
[submodule "ext/compressonator"]
	path = ext/compressonator
	url = https://github.com/Flone-dnb/compressonator.git
[submodule "ext/DirectXTex"]
	path = ext/DirectXTex
	url = https://github.com/Flone-dnb/DirectXTex.git
[submodule "ext/KTX-Software"]
	path = ext/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ext/combined-shader-language-parser"]
	path = ext/combined-shader-language-parser
	url = https://github.com/Flone-dnb/combined-shader-language-parser.git
[submodule "ext/sgc"]
	path = ext/sgc
	url = https://github.com/Flone-dnb/sgc.git
