[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "ext/xxHash"]
	path = ext/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "ext/toml11"]
	path = ext/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ext/D3D12MemoryAllocator"]
	path = ext/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "ext/DirectX-Headers"]
	path = ext/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "ext/portable-file-dialogs"]
	path = ext/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ext/DirectXMath"]
	path = ext/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
